
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <table class="table">
      <thead>
        <tr>
          <th>Titre</th>
          <th>Réalisateur(s)</th>
          <th>Date de sortie</th>
          <th>Affiche</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @results.each do |result| %>
          <tr>
            <td><%= result[:title] %></td>
            <td><% result[:director].each do |director|%>
              <%= director %><br />
            <% end %></td>
            <td><%= result[:release_date] %></td>
            <td><%= image_tag "https://image.tmdb.org/t/p/w185_and_h278_bestv2#{result[:poster]}", height:"200", width:"150" %></td>
          </tr>
        <% end %>
      </tbody>
    </table
  </div>
</div>
